# File: .env

# --- CẤU HÌNH DATABASE (Dùng chung cho Mongo & Postgres) ---
# MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
MONGO_HOST=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


# --- CẤU HÌNH BẢO MẬT (JWT) ---
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=

JWT_SECRET_TEST=

SPRING_DATA_MONGODB_URI=
SPRING_DATASOURCE_URL=

# --- Cấu Hình SendGrid ---
SENDGRID_KEY=
FROM_EMAIL=
TEMPLATE_ID=
TEMPLATE_OTP_ID=

# --- Cấu Hình Cloudinary ---
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --- Cấu Hình Kafka ---
KAFKA_BOOTSTRAP_SERVERS=
SCHEMA_REGISTRY_URL=
CLUSTER_ID=

# --- Cấu Hình OAuth2 ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH2_REDIRECT_URI=

# --- Cấu Hình ELK ---
ELASTIC_PASSWORD=
# --- Docker Hub ---
DOCKER_USERNAME=

# --- Cấu Hình Frontend ---
VITE_API_URL=
FRONTEND_URL=
